@model Comment

@{
    this.ViewBag.Title = "编辑评论_[皮卡博客]";
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@section ScriptSection
{
    <script src='@this.Url.Content("~/Scripts/ckeditor.js")' type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(
            function() {
                var css = appPath + 'Content/Admin.css';

                var config = {
                    toolbar:
                        [
                            ['Bold', 'Italic', 'Underline', '-', 'NumberedList', 'BulletedList', 'TextColor', 'BGColor', 'Indent', 'Outdent', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'AddCode', 'Source']
                        ],
                    height: '200px',
                    entities: 'false',
                    contentsCss: css
                };

                var editor = CKEDITOR.replace('commentEditor', config);

                editor.on('pluginsLoaded', function(ev) {
                    // If our custom dialog has not been registered, do that now.
                    if (!CKEDITOR.dialog.exists('addCodeDialog')) {
                        // We need to do the following trick to find out the dialog
                        // definition file URL path. In the real world, you would simply
                        // point to an absolute path directly, like "/mydir/mydialog.js".
                        var href = appPath + 'Scripts/addCommentCodeDialog.js';

                        // Finally, register the dialog.
                        CKEDITOR.dialog.add('addCodeDialog', href);
                    }

                    // Register the command used to open the dialog.
                    editor.addCommand('addCodeDialogCmd', new CKEDITOR.dialogCommand('addCodeDialog'));

                    // Add the a custom toolbar buttons, which fires the above
                    // command..
                    editor.ui.addButton('AddCode',
                        {
                            label: 'Add Code',
                            command: 'addCodeDialogCmd'
                        });
                });

            });

    </script>
}

<div id="main">
    <h1>编辑评论</h1>
    @using (this.Html.BeginForm("Edit", "Comment"))
    {
        <div class="commentForm">
            <fieldset>
                <legend>
                    编辑评论
                </legend>
                <div class="success">
                    @this.ViewData["Message"]
                </div>
                <div class="error">
                    @this.ViewData["ErrorMessage"]
                </div>
                <div>
                    @this.Html.ValidationSummary("输入信息存在错误，请重试。")
                </div>
                <div>评论ID: @this.Model.ID</div>
            
                <div>博文ID</div>
                <div>
                    @this.Html.TextBoxFor(m => m.FileID, new { @class = "ReadOnlyTextBox", @ReadOnly = "true", @style = "width: 400px;" })
                </div>

                <div>时间</div>
                <div>
                    @this.Html.TextBoxFor(m => m.Time, new { @class = "ReadOnlyTextBox", @ReadOnly = "true", @style = "width: 400px;" })
                </div>

                <div>评论人</div>
                <div>
                    @this.Html.TextBoxFor(m => m.Name, new { @class = "TextBox", @style = "width: 400px;" })
                    @this.Html.ValidationMessageFor(m => m.Name, "*")
                </div>
                <div>Url</div>
                <div>
                    @this.Html.TextBoxFor(m => m.Url, new { @class = "TextBox", @style = "width: 400px;" })
                </div>
                <div>来源IP</div>
                <div>
                    @this.Html.TextBoxFor(m => m.Ip, new { @class = "ReadOnlyTextBox", @ReadOnly = "True" })
                </div>
                <div>评论</div>
                <div>
                    @this.Html.TextAreaFor(m => m.Text, new { @class = "TextBox", @id = "commentEditor" })
                    @this.Html.ValidationMessageFor(m => m.Text, "*")
                </div>
                <div>
                    作者评论：@this.Html.CheckBoxFor(m => m.IsAuthor)
                </div>
                <div class="button">
                    <input type="submit" name="Submit" value="保存" />
                </div>
                <div>
                    @if (this.ViewBag.PageIndex == 1)
                    {
                        <span>@this.Html.ActionLink("返回“评论管理”", "Manage")</span>
                    }
                    else
                    {
                        <span>@this.Html.ActionLink("返回“评论管理”", "Manage", new { page = this.ViewBag.PageIndex })</span>
                    }
                </div>
            </fieldset>
        </div>
    }

</div>

