@model List<Comment>

@{
    this.ViewBag.Title = "最新评论_[皮卡网志]";
    this.Layout = "~/Views/Shared/_SiteLayout.cshtml";

}

<div class="content">
    <h1>最新评论</h1>
    
    @foreach (Comment comment in this.Model)
    {
        if (comment.IsAuthor)
        {
            <div class="authorBg">
                <div class="commentHeader">
                    评论人：
                    @if (string.IsNullOrEmpty(comment.Url))
                    {
                        @comment.Name
                    }
                    else
                    {
                        <a href='@comment.Url' target="_blank">@comment.Name</a>
                    }
                    &nbsp;&nbsp;&nbsp;&nbsp;评论时间：
                    @comment.Time.ToString(MvcLiteBlog.Helpers.ConfigHelper.DateFormat, System.Globalization.CultureInfo.InvariantCulture)
                    @this.Html.ActionLink("查看", "Index", "Post", new { id = comment.FileID }, null)
                </div>
                <div class="comment">
                    @this.Html.Raw(comment.HighlightedCode)
                </div>
            </div>
        }
        else
        {
            <div>
                <div class="commentHeader">
                    评论人：
                    @if (string.IsNullOrEmpty(comment.Url))
                    {
                        @comment.Name
                    }
                    else
                    {
                        <a href='@comment.Url' target="_blank">@comment.Name</a>
                    }
                    &nbsp;&nbsp;&nbsp;&nbsp;评论时间：
                    @comment.Time.ToString(MvcLiteBlog.Helpers.ConfigHelper.DateFormat, System.Globalization.CultureInfo.InvariantCulture)
                    @this.Html.ActionLink("查看", "Index", "Post", new { id = comment.FileID }, null)
                </div>
                <div class="comment">
                    @this.Html.Raw(comment.HighlightedCode)
                </div>
            </div>
        }
    }

</div>



