@model MvcLiteBlog.Models.ComposePageModel
@{
    ViewBag.Title = "Compose";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section ScriptSection
{
    <script type="text/javascript" src='@this.Url.Content("~/Scripts/ckeditor.js")'></script>
    <script type="text/javascript" src='@this.Url.Content("~/Scripts/Custom/page.compose.js")'></script>
}
<div id="main">
    <h1>Compose Page</h1>
    @using (this.Html.BeginForm("Compose", "Page", FormMethod.Post))
    {
            
        <div class="page-compose">
            <div>
                @this.Html.ValidationSummary("Error in updating values. Please try again.")
                @this.Html.HiddenFor(m => m.FileId)
            </div>
            <div class="error">
                @this.ViewData["Message"]
            </div>
            <div>
                Title: @this.Html.TextBoxFor(m => m.Title, new { @class = "TextBox", @style = "width: 530px;" })
                @this.Html.ValidationMessageFor(m => m.Title, "*")
            </div>
            <div>
                Page Contents: 
                <textarea id="PageEditor" name="Contents" style="width: 530px;" cols="30" rows="10">@(this.Model.Contents ?? string.Empty)</textarea>
                @this.Html.ValidationMessageFor(m => m.Contents, "*")
            </div>
            <div>
                <!-- Timer -->
            </div>
        </div>
        <div class="button">
            <input type="submit" name="Save" value="Save" />
            <input type="submit" name="Publish" value="Publish" />
            <!-- Publish will add to menu -->
            <input type="submit" name="Close" value="Close" />
        </div>
        <div id="saveMessage" style="text-align: center;">
        </div>
    }
</div>
