@model MvcLiteBlog.Models.ManageAppModel

@{
    this.ViewBag.Title = "系统设置_[皮卡网志]";
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";

}


@using (this.Html.BeginForm("Application", "Admin"))
{
    <div id="main">
        <h1>系统设置</h1>
        <div class="appForm">
            <fieldset>
                <legend>系统设置</legend>
                <div class="success">
                    @this.ViewData["SuccessMessage"]
                </div>
                <div>
                    @this.Html.ValidationSummary("更新站点设置信息时发生错误，请重试。")
                </div>
                <div>
                    博客名称
                </div>
                <div>
                    @this.Html.TextBoxFor(m => m.BlogName, new { @class = "TextBox", @style = "width: 500px;" })
                    @this.Html.ValidationMessageFor(m => m.BlogName, "*")
                </div>
                @*<div>
                    Blog Description
                </div>
                <div>
                    <textarea id="PostEditor" name="BlogDesc" class="TextBox" rows="10" cols="60">@this.Model.BlogDesc</textarea>
                </div>*@
                <div>
                    首页显示篇数
                </div>
                <div>
                    @this.Html.DropDownList("PostCount", this.Model.PostCountList, new { @class = "TextBox" })
                </div>
                <div>
                    是否开启评论审核
                </div>
                <div>
                    @this.Html.DropDownList("CommentModeration", this.Model.ModerationList, new { @class = "TextBox" }) 
                </div>
                <div>
                    时区设置
                </div>
                <div>
                    @this.Html.DropDownList("Timezone", this.ViewData.Model.TimeZoneList, new { @class = "TextBox" })
                </div>
                <div class="button">
                    <input type="submit" name="Submit" value="保存设置" />
                </div>
            </fieldset>
        </div>
    </div>
}


