@model MvcLiteBlog.Models.ChgPwdModel

@{
    this.ViewBag.Title = "修改密码_[皮卡博客]";
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@using (this.Html.BeginForm("ChgPwd", "Admin"))
{
    <div id="main">
        <div class="loginForm">
            <fieldset>
                <legend>更改密码</legend>
                <div>
                    @this.Html.ValidationSummary("更改密码失败，请重试。")
                </div>
                <div>
                    用户名:
                </div>
                <div>
                    @this.Html.TextBoxFor(m => m.UserName, new { @class = "TextBox" })
                    @this.Html.ValidationMessageFor(m => m.UserName, "*")
                </div>
                <div>
                    原密码: 
                </div>
                <div>
                    @this.Html.PasswordFor(m => m.OldPassword, new { @class = "TextBox" })
                    @this.Html.ValidationMessageFor(m => m.OldPassword, "*")
                </div>
                <div>
                    新密码: 
                </div>
                <div>
                    @this.Html.PasswordFor(m => m.NewPassword, new { @class = "TextBox" })
                    @this.Html.ValidationMessageFor(m => m.NewPassword, "*")
                </div>
                <div>
                    确认新密码: 
                </div>
                <div>
                    @this.Html.PasswordFor(m => m.RepeatPassword, new { @class = "TextBox" })
                    @this.Html.ValidationMessageFor(m => m.RepeatPassword, "*")
                </div>
                <div class="button">
                    <input type="submit" name="Submit" value="确认修改" />
                </div>
            </fieldset>
        </div>
    </div>
}


