@model MvcLiteBlog.Models.CatModel

@{
    this.ViewBag.Title = "新建分类_[皮卡网志]";
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div id="main">
    <h1>新建分类</h1>
    @using (this.Html.BeginForm("Create", "Category"))
    {
        <div class="catForm">
            <fieldset>
                <legend>
                    新建分类
                </legend>
                <div class="success">
                    @this.ViewData["Message"]
                </div>
                <div class="error">
                    @this.ViewData["ErrorMessage"]
                </div>
                <div>
                    @this.Html.ValidationSummary("输入信息存在错误，请重试。")
                </div>
                <div>分类ID(Url名称)</div>
                <div>
                    @this.Html.TextBoxFor(m => m.CatID, new { @class = "TextBox" })
                    @this.Html.ValidationMessageFor(m => m.CatID, "*")
                </div>
                <div>分类名称</div>
                <div>
                    @this.Html.TextBoxFor(m => m.Name, new { @class = "TextBox" })
                    @this.Html.ValidationMessageFor(m => m.Name, "*")
                </div>
                <div class="button">
                    <input type="submit" name="Submit" value="保存" />
                </div>
            </fieldset>
        </div>
    }
    <div>
        @this.Html.ActionLink("返回“分类管理”", "Manage")
    </div>
</div>

