@model MvcLiteBlog.Models.AuthorModel

@{
    this.ViewBag.Title = "新建用户_[皮卡网志]";
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";

}


<div id="main">
    <h1>新建用户</h1>
    @using (this.Html.BeginForm("Create", "Author"))
    {
        <div class="authorForm">
            <fieldset>
                <legend>
                    新建用户
                </legend>
                <div class="success">
                    @this.ViewData["Message"]
                </div>
                <div>
                    @this.Html.ValidationSummary("输入信息存在错误，请重试。")
                </div>
                <div>用户名</div>
                <div>
                    @this.Html.TextBoxFor(m => m.Name, new { @class = "TextBox" })
                    @this.Html.ValidationMessageFor(m => m.Name, "*")
                </div>
                <div>昵称</div>
                <div>
                    @this.Html.TextBoxFor(m => m.DisplayName, new { @class = "TextBox" })
                    @this.Html.ValidationMessageFor(m => m.DisplayName, "*")
                </div>        
                <div>电子邮箱</div>
                <div>
                    @this.Html.TextBoxFor(m => m.Email, new { @class = "TextBox" })
                    @this.Html.ValidationMessageFor(m => m.Email, "*")
                </div>       
                <div class="button">
                    <input type="submit" name="Submit" value="保存" />
                </div>
            </fieldset>
        </div>
    }

    <div>
        @this.Html.ActionLink("返回“用户管理”", "Manage")
    </div>
</div>
