@model List<LiteBlog.Common.Page>
<div id="headerTitle">
    @this.Html.Raw((string)this.ViewData["Title"])
</div>
<div id="headerMenu">
    <ul>
        <li>@this.Html.ActionLink("首页", "Index", "Blog") </li>
        <li>@this.Html.ActionLink("管理", "Index", "Admin") </li>
        @*<li>@this.Html.ActionLink("LiteBlog", "Index", "LiteBlog") </li>*@
        @foreach (var page in Model)
        {
            <li>@this.Html.ActionLink(page.Title, "Index", "Page", new { id = page.FileId }, null)</li>
        }
    </ul>
</div>
<div id="headerStrip">
    @{
        var loginString = (bool)this.ViewData["IsAuthenticated"] ? "退出" : "登录";
        var loginAction = (bool)this.ViewData["IsAuthenticated"] ? "Logout" : "Index";

    }
    <span>@this.ViewData["UserName"]</span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    @this.Html.ActionLink(loginString, loginAction, "Admin", null, new { @class = "LoginLink" })
</div>