<ul id="menu">              
    <li>@this.Html.ActionLink("首页", "Index", "Blog")</li>
    <li>@this.Html.ActionLink("存档", "Archive", "Archive")</li>
    <li>@this.Html.ActionLink("最近评论", "Recent", "Comment")</li>
    <li>@this.Html.ActionLink("订阅", "Rss", "Blog")</li>
    <li>@this.Html.ActionLink("LiteBlog", "Index", "LiteBlog")</li>
    <li>@this.Html.ActionLink("管理", "Index", "Admin")</li>
</ul>