<ul id="menu">              
    <li>@this.Html.ActionLink("Home", "Index", "Home")</li>
    <li>@this.Html.ActionLink("Archive", "Archive", "Archive")</li>
    <li>@this.Html.ActionLink("Recent Comments", "Recent", "Comment")</li>
    <li>@this.Html.ActionLink("Subscribe", "Rss", "Home")</li>
    <li>@this.Html.ActionLink("LiteBlog", "Index", "LiteBlog")</li>
    <li>@this.Html.ActionLink("Admin", "Index", "Admin")</li>
</ul>