@model Post
           
<div class="post" id="@this.Model.FileID">
    <div>
        <div class="publishDate">
            <div class="publishYear">@this.Model.Time.Year</div>
            <div class="publishDay">@(this.Model.Time.Month).@(this.Model.Time.Day)</div>
        </div>
        <h1>@this.Html.ActionLink(this.Model.Title, "Index", "Post", new { id = this.Model.FileID }, null)</h1>
    </div>
    <div class="postMeta">
        <span>作者：@this.Model.Author</span>
        <span>@this.Model.CategoriesText</span>
        <div class="bshare-custom">
            分享到：
            <a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
            <a title="分享到腾讯微博" class="bshare-qqmb"></a>
            <a title="分享到QQ空间" class="bshare-qzone" href="javascript:void(0);"></a>
            <a title="分享到豆瓣" class="bshare-douban"></a>
        </div>
        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script>
        <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
        <script type="text/javascript" charset="utf-8">
            //自定义内容这里对应的内容暂时无效
            bShare.addEntry({
                summary: "#皮卡网志#"
            });
        </script>
    </div>
    <div id="PostContent" class="postContent">
        @this.Html.Raw(this.Model.HighlightedContents)
    </div>
    <div class="commentView">
        @this.Html.Action("GetComments", new { id = this.Model.FileID })
    </div>
    <div>
        <div class="successMessage">
        </div>
        @this.Html.Action("CommentFormControl", "Comment", new { id = this.Model.FileID })
    </div>
</div>

