@model Post
           
<div class="post" id="@this.Model.FileID">
    <div>
        <div class="publishDate">
            <div class="publishYear">@this.Model.Time.Year</div>
            <div class="publishDay">@(this.Model.Time.Month).@(this.Model.Time.Day)</div>
        </div>
        <h1>
            @this.Html.ActionLink(this.Model.Title, "Index", "Post", new { id = this.Model.FileID }, null)
        </h1>
    </div>
    <div class="postMeta">
        <div>作者：@this.Model.Author</div>
        <div>@this.Model.CategoriesText</div>
        <!-- JiaThis Button BEGIN -->
        <div class="jiathis_style" onmouseover="setShare('@Model.Title','http://'+'@Request.Url.Host'+':'+'@Request.Url.Port'+'/Post/'+'@System.Web.HttpUtility.UrlEncode(Model.Title)','#皮卡网志#');">
            <div>分享到：</div>
            <div class="buttons">
	            <a class="jiathis_button_tsina"></a>
	            <a class="jiathis_button_tqq"></a>
	            <a class="jiathis_button_qzone"></a>
	            <a class="jiathis_button_douban"></a>
	            <a class="jiathis_button_renren"></a>
            </div>
        </div>
        <!-- JiaThis Button END -->
    </div>
    <div id="PostContent" class="postContent">
        @this.Html.Raw(this.Model.HighlightedContents)
    </div>
    <div>
        @this.Html.ActionLink("查看原文", "Index", "Post", new { id = this.Model.FileID }, null)  | 
        @this.Html.ActionLink(this.Model.GetCommentCount(), "Index", "Post", null, null, "comments", new { id = this.Model.FileID }, null)  |
        @this.Html.ActionLink("添加评论", "Index", "Post", null, null, "addcomment", new { id = this.Model.FileID }, null)
    </div>
</div>

