@model Post
           
<div class="post" id="@this.Model.FileID">
    <div>
        <h1>@this.Html.ActionLink(this.Model.Title, "Index", "Post", new { id = this.Model.FileID }, null)</h1>
    </div>
    <div id="PostContent" class="postContent">
        @this.Html.Raw(this.Model.HighlightedContents)
    </div>
    <div class="postMeta">
        <span>@this.Model.TimeText</span><br/>
        <span>@this.Model.CategoriesText</span>
    </div>
    <div>
        
        @this.Html.ActionLink("永久链接", "Index", "Post", new { id = this.Model.FileID }, null)  | 
        <a href="#" class="showCommentLink">@this.Model.GetCommentCount()</a> | 
        <a href="#" class="viewCommentLink">添加评论</a> 

    </div>
    <div class="successMessage">
        
    </div>

    <div class="commentView">
        @this.Html.Action("GetComments", new { id = this.Model.FileID })
    </div>
</div>

