@model Stat
<div class="widget">
    <div class="widgetTitle">统计</div>
    <ul class="widgetList">
        <li>访问次数：<span style="color: Navy;">@this.Model.Visits</span></li>
        <li>页面访问量：<span style="color: Navy;">@this.Model.Hits</span></li>
        <li>最近1月访客数：<span style="color: Navy;">@this.Model.Visitors</span></li>
        <li>Feed数：<span style="color: Navy;">@this.Model.FeedCount</span></li>
        @if (this.Model.PageVisits.Count > 0)
        {
            foreach(KeyValuePair<string, PostInfo>kvp in this.Model.PageVisits.Take(1))
            {
                <li>访问最多页面：@this.Html.ActionLink(kvp.Value.Title, "Index", "Post", new { id = kvp.Key }, null) (@kvp.Value.Views.ToString())</li>
            }
        }
    </ul>
    
</div>
