@model List<LiteBlog.Common.Page>
<div id="headerTitle">
    <a href="/Home/index/">
        @this.Html.Raw((string)this.ViewData["Title"])
    </a>
</div>
<div id="headerMenu">
    <ul>
        <li>@this.Html.ActionLink("首页", "Index", "Home") </li>
        <li>@this.Html.ActionLink("管理", "Index", "Admin") </li>
        @*<li>@this.Html.ActionLink("LiteBlog", "Index", "LiteBlog") </li>*@
        @foreach (var page in Model)
        {
            <li>@this.Html.ActionLink(page.Title, "Index", "Page", new { id = page.FileId }, null)</li>
        }
    </ul>
</div>
<div id="headerStrip">&nbsp;</div>
