@model DraftPost
@{
    this.ViewBag.Title = this.Model.Title + "_[皮卡博客]";
    this.Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
@section ScriptSection
{

}

<div id="main">
    <div class="post" id="@this.Model.FileID">
        <div>
            <div class="publishDate">
                <div class="publishYear">@this.Model.Time.Year</div>
                <div class="publishDay">@(this.Model.Time.Month).@(this.Model.Time.Day)</div>
            </div>
            <h1>@this.Html.ActionLink(this.Model.Title, "Index", "Post", new { id = this.Model.FileID }, null)</h1>
        </div>
        <div id="PostContent" class="postContent">
        @this.Html.Raw(this.Model.HighlightedContents)
        </div>
    </div>
    @using (this.Html.BeginForm("BackToCompose", "Post"))
    {
        <div class="button">
            @*<input type="submit" name="Back" value="Back" />   *@
            @this.Html.ActionLink("返回", "Compose")
        </div>
    }
</div>
